Dv65k65Iyvl5Rq7V.json
{
  "active": true,
  "connections": {
    "Code3": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download File1": {
      "main": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows2": {
      "main": [
        [
          {
            "node": "Download File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set File ID1": {
      "main": [
        [
          {
            "node": "Delete Old Doc Rows2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert into Supabase Vectorstore1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert into Supabase Vectorstore1": {
      "main": [
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        []
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Set File ID1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-18T09:32:54.920Z",
  "id": "Dv65k65Iyvl5Rq7V",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RAG Drive",
  "nodes": [
    {
      "parameters": {
        "content": "## Manage vectorstore for new and updated files every 24 hours",
        "height": 1140,
        "width": 3381
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -2820,
        180
      ],
      "id": "c4428978-279e-44e6-81fa-a1d3873ad4c3",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "jsCode": "const currentTime = new Date(); // Current time\nconst oneDayAgo = new Date(currentTime.getTime() - 30000 * 60 * 60 * 1000); // 3 hours ago\n\n// Filter files modified in the last 24 hours\nconst filteredFiles = items.filter(item => {\n  const modifiedTime = new Date(item.json.modifiedTime);\n  const createdTime = new Date(item.json.createdTime);\n  return modifiedTime >= oneDayAgo || createdTime >= oneDayAgo;\n});\n\n// Return file IDs of the filtered files\nreturn filteredFiles.map(file => ({\n  json: {\n    file_id: file.json.id,\n    name: file.json.name,\n    modifiedTime: file.json.modifiedTime\n  }\n}));\n"
      },
      "id": "a3519431-4b19-40f0-9aae-f21dda85ac98",
      "name": "Code3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1860,
        460
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "id": "6282d28a-ace7-4adc-a9e5-72c06c8af416",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2180,
        440
      ]
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Set File ID1').item.json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "id": "6f583447-76b2-491b-bcb5-2efdbc27d437",
      "name": "Download File1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -620,
        460
      ],
      "executeOnce": true,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fWniJasnVtn0Zio6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "documents",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.file_id }}*"
      },
      "id": "5ba4c71c-4c01-433c-85ee-05593008815d",
      "name": "Delete Old Doc Rows2",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -940,
        460
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "ja3JZLNtUeGWJCgv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10646eae-ae46-4327-a4dc-9987c2d76173",
              "name": "file_id",
              "value": "={{ $json.file_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6488e244-717c-461b-8f36-016bc683873e",
      "name": "Set File ID1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1240,
        460
      ]
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=file_id",
                "value": "={{ $('Set File ID1').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "id": "c45fb7cb-967a-468c-b971-83d391791793",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        -160,
        680
      ]
    },
    {
      "parameters": {
        "model": "text-embedding-3-small",
        "options": {}
      },
      "id": "e3b3de14-fa5b-4878-8ccf-031fa893283c",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1,
      "position": [
        -340,
        680
      ],
      "credentials": {
        "openAiApi": {
          "id": "z9uix07wQ4zbWtZl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "id": "a7fd3c7e-f40c-4994-b8b8-da4887edfd6f",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        -160,
        880
      ]
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "176W4MzDa4a6v1K--s-2m1hdLXov23KtN",
            "mode": "list",
            "cachedResultName": "KMK Formation",
            "cachedResultUrl": "https://drive.google.com/drive/folders/176W4MzDa4a6v1K--s-2m1hdLXov23KtN"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "id": "a70da096-2127-4e31-9441-9f6913ce1f7b",
      "name": "Google Drive1",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -2440,
        440
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fWniJasnVtn0Zio6",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {
          "queryName": "match_documents"
        }
      },
      "id": "fca79979-f63c-4ed2-890f-109c0dd68433",
      "name": "Insert into Supabase Vectorstore1",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        -300,
        460
      ],
      "credentials": {
        "supabaseApi": {
          "id": "ja3JZLNtUeGWJCgv",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 12
            }
          ]
        }
      },
      "id": "01b3f521-3b49-4ade-b5a0-211f12b6ecdc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -2740,
        440
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -2740,
        700
      ],
      "id": "7032b4fe-65ca-474f-ba26-c4a841230dfd",
      "name": "When clicking ‘Test workflow’",
      "disabled": true
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        320,
        920
      ],
      "id": "a35b4e76-ea6b-479e-860a-3551675e34bf",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "84e66654-d7b9-4a83-8639-fce684f1e2ca",
              "leftValue": "={{ $json.isNotEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1580,
        460
      ],
      "id": "2dc83eff-9f87-4a61-978a-5ef747b4f53e",
      "name": "If"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": [
        12
      ]
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-06-27T00:39:56.000Z",
  "versionId": "5889bcf4-b31d-449a-8c69-d93b9c41dddb"
}