k7sMWMd8D5LvRrH5.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "rage-coaching",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "rage-coaching": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Merci d’avoir testé ton coach IA Valorant 🎮🤖",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-24T17:55:46.425Z",
  "id": "k7sMWMd8D5LvRrH5",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "RaGe Valorant Coach",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rage-coaching-elevenlabs",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -32,
        0
      ],
      "id": "80b76260-c6c4-4b29-afa9-dce3a85fcb01",
      "name": "Webhook",
      "webhookId": "cb918c59-c55e-41c8-b31b-3a6e8a7189d7"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Agent : {{ $json.body.agent }}\nMap : {{ $json.body.map }}\nSide : {{ $json.body.side }}\nObjective : {{ $json.body.objective }}\nIssue : {{ $json.body.issue }}\nFree Text : {{ $json.body.free_text }}",
        "options": {
          "systemMessage": "You are connected to the tool \"rage-coaching-elevenlabs\", a RAG system built from Rage’s coaching knowledge base.  \nYour task is to retrieve and provide all the most relevant advice based on the context: agent, map, side, objective, issue, and free_text.  \nDeliver the full analysis in French, including detailed explanations and tips drawn only from the knowledge base.  \nThen, at the end, summarize with exactly one high-value actions (the 20% that drive 80% of improvement) that the player must focus on in their next games.  \nNever invent content; use only knowledge base data.  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "4cff6a95-fb7d-4af5-8d33-dc1c672f8d97",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        208
      ],
      "id": "62e7436f-e391-419e-bb7c-b0027afc6e72",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z9uix07wQ4zbWtZl",
          "name": "OpenAi account Abqari"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        336
      ],
      "id": "870ff92b-935f-4e27-a902-fbb7050f9d36",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "z9uix07wQ4zbWtZl",
          "name": "OpenAi account Abqari"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        560,
        0
      ],
      "id": "b002dbb8-6b80-4b2e-8fc5-f8c0596f1561",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Walk with your data in a Qdrant collection.",
        "qdrantCollection": {
          "__rl": true,
          "value": "032002bbde4d486b9093c24101f02da7",
          "mode": "list",
          "cachedResultName": "032002bbde4d486b9093c24101f02da7"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        352,
        224
      ],
      "id": "ee63073a-f7f3-4f90-a342-3436502c7e89",
      "name": "rage-coaching",
      "credentials": {
        "qdrantApi": {
          "id": "CWQS0tGNBZLw6emi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "ayoub.benhaddya@gmail.com",
        "subject": "Merci d’avoir testé ton coach IA Valorant 🎮🤖",
        "emailType": "text",
        "message": "=Bonjour,\n\nMerci d’avoir utilisé l’agent conversationnel de coaching Valorant. 🙌\nL’IA s’appuie sur une base de connaissances de coachings existants pour t’aider à progresser, et te donne toujours 2 actions clés à appliquer dès ta prochaine partie.\n\n👉 Ton retour est super précieux ! N’hésite pas à répondre à ce mail pour me dire si les conseils t’ont aidé, et ce que tu aimerais voir dans les prochaines versions (analyse vidéo, plus de contenu, etc.).\n\nÀ bientôt et bon grind ! 💪\n\n— L’équipe du coach IA Valorant",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        768,
        0
      ],
      "id": "dc117574-0527-4378-a253-dde3c8502c43",
      "name": "Merci d’avoir testé ton coach IA Valorant 🎮🤖",
      "webhookId": "e3e8c454-67a5-44ff-b8d2-790aa7af50d9",
      "credentials": {
        "gmailOAuth2": {
          "id": "lbhUnho8tl9Vkar5",
          "name": "Gmail account Ayoub Pers"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-08-25T02:21:54.000Z",
  "versionId": "bae9f18b-ce74-4669-a1fb-f1edd61defb0"
}