OLuMEi9DwQfU1DDh.json
{
  "active": false,
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "recuperation de l'url de l'asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asset Exists in Registry?": {
      "main": [
        [
          {
            "node": "Update Asset Status to READY",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append New Frame.io Asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Asset in Sheets of": {
      "main": [
        [
          {
            "node": "Asset Exists in Registry?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recuperation de l'url de l'asset": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Lookup Asset in Sheets of",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-12T17:50:55.758Z",
  "id": "OLuMEi9DwQfU1DDh",
  "isArchived": false,
  "meta": null,
  "name": "WF1.2 - Frame.io Webhook - Rendition Ready",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "frameio-media-ready",
        "options": {}
      },
      "id": "f4e46bba-1769-4f6e-aaa9-39d3153ff5a8",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -368,
        -112
      ],
      "webhookId": "frameio-media-ready"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "fc935856-a712-4eb0-ac73-cb1cf384d03d",
              "leftValue": "={{ $json.frameio_asset_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2e8ce179-1367-4e21-9577-c261191b68ed",
      "name": "Asset Exists in Registry?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        528,
        -112
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "=15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1211841085,
          "mode": "list",
          "cachedResultName": "assets_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0/edit#gid=1211841085"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "frameio_asset_id": "={{ $json.frameio_asset_id }}",
            "status": "READY_FOR_ANALYSIS",
            "frameio_efficient_url": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.media_links.efficient.download_url }}",
            "frameio_thumb_url": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.media_links.thumbnail.url }}",
            "updated_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [
            "frameio_asset_id"
          ],
          "schema": [
            {
              "id": "frameio_asset_id",
              "displayName": "frameio_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "frameio_project_id",
              "displayName": "frameio_project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requires_drive_ops",
              "displayName": "requires_drive_ops",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name_original",
              "displayName": "file_name_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_size_bytes",
              "displayName": "file_size_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "frameio_efficient_url",
              "displayName": "frameio_efficient_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "frameio_thumb_url",
              "displayName": "frameio_thumb_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_error_code",
              "displayName": "last_error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_error_message",
              "displayName": "last_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "next_retry_at",
              "displayName": "next_retry_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_title",
              "displayName": "video_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "main_concept",
              "displayName": "main_concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_gender",
              "displayName": "avatar_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_ethnicity",
              "displayName": "avatar_ethnicity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_age_range",
              "displayName": "avatar_age_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_skin_tones",
              "displayName": "avatar_skin_tones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_presented",
              "displayName": "product_presented",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "detailed_concept_description",
              "displayName": "detailed_concept_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b4140f4c-6a44-45a9-bd41-bcf5b29eb97e",
      "name": "Update Asset Status to READY",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        -224
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Wm2Xjg29dAttfqc",
          "name": "Satyn - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1211841085,
          "mode": "list",
          "cachedResultName": "assets_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0/edit#gid=1211841085"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "frameio_asset_id",
              "lookupValue": "={{ $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        320,
        -128
      ],
      "id": "a5c487bd-dabf-4ac8-98c7-6a9815aa4ccf",
      "name": "Lookup Asset in Sheets of",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Wm2Xjg29dAttfqc",
          "name": "Satyn - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.frame.io/v4/accounts/{{ $json.body.account.id }}/files/{{ $json.body.resource.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include",
              "value": "project,media_links.original, media_links.thumbnail, media_links.video_h264_180,media_links.efficient,media_links.high_quality"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "4.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -128,
        -112
      ],
      "id": "23887e43-eb4e-4c07-9f3f-2e05324409ad",
      "name": "recuperation de l'url de l'asset",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "oAuth2Api": {
          "id": "UQm6obX5OEHbcJCu",
          "name": "Frame.io Jad"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "974781a9-68bb-4ce0-90fb-f3a76200fe4b",
              "leftValue": "={{ $json.data.parent_id }}",
              "rightValue": "fe168541-6299-4f9c-b937-c04c4d75c497",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        80,
        -112
      ],
      "id": "8b4b9596-8906-47d3-8f94-5b90e083ae0a",
      "name": "If"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        304,
        112
      ],
      "id": "f000f74f-5eb7-4872-aef5-2f0a437fe16b",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "=15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1211841085,
          "mode": "list",
          "cachedResultName": "assets_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0/edit#gid=1211841085"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "frameio_asset_id": "={{ $('If').item.json.data.id }}",
            "status": "READY_FOR_ANALYSIS",
            "frameio_efficient_url": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.media_links.efficient.download_url }}",
            "frameio_thumb_url": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.media_links.thumbnail.url }}",
            "frameio_project_id": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.project.id }}",
            "file_size_bytes": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.file_size }}",
            "source": "Frame.io",
            "file_name_original": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.name }}",
            "mime_type": "={{ $('recuperation de l\\'url de l\\'asset').item.json.data.media_type }}",
            "created_at": "={{ new Date().toISOString() }}",
            "updated_at": "={{ new Date().toISOString() }}",
            "retry_count": "0"
          },
          "matchingColumns": [
            "frameio_asset_id"
          ],
          "schema": [
            {
              "id": "frameio_asset_id",
              "displayName": "frameio_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "frameio_project_id",
              "displayName": "frameio_project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "requires_drive_ops",
              "displayName": "requires_drive_ops",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name_original",
              "displayName": "file_name_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "file_size_bytes",
              "displayName": "file_size_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "frameio_efficient_url",
              "displayName": "frameio_efficient_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "frameio_thumb_url",
              "displayName": "frameio_thumb_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_error_code",
              "displayName": "last_error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_error_message",
              "displayName": "last_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "next_retry_at",
              "displayName": "next_retry_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_title",
              "displayName": "video_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "main_concept",
              "displayName": "main_concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_gender",
              "displayName": "avatar_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_ethnicity",
              "displayName": "avatar_ethnicity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_age_range",
              "displayName": "avatar_age_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_skin_tones",
              "displayName": "avatar_skin_tones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_presented",
              "displayName": "product_presented",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "detailed_concept_description",
              "displayName": "detailed_concept_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "5fd23175-10fe-4b6f-a59f-a9bdb1e89361",
      "name": "Append New Frame.io Asset",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        720,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Wm2Xjg29dAttfqc",
          "name": "Satyn - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 📨 WF1.2 - Webhook Handler\n├── Webhook Trigger → Verify Token\n├── GET Frame.io Asset with Media Links\n└── Google Sheets: Update Status to READY_FOR_ANALYSIS",
        "height": 128,
        "width": 480
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -384,
        -384
      ],
      "id": "467a0371-55e1-45dd-b26c-f83ef43292df",
      "name": "Sticky Note"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-08T22:28:02.757Z",
      "updatedAt": "2025-07-29T12:07:55.106Z",
      "id": "bQLQ4DR5rdAWJC6Y",
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-10-30T13:50:54.000Z",
  "versionId": "41e4d64f-45d5-4712-91ec-3df26d94f78d"
}