q32ISRQHW2GUI8s4.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        []
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-24T21:41:23.458Z",
  "id": "q32ISRQHW2GUI8s4",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Push Data",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -560,
        -112
      ],
      "id": "9a4eb547-c3ff-434c-8af2-3b8096582655",
      "name": "When clicking ‘Execute workflow’",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1faSAnlfQoqHOvUaqbQk8nKUPKcTd0cHw",
            "mode": "list",
            "cachedResultName": "Coaching Valorant",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1faSAnlfQoqHOvUaqbQk8nKUPKcTd0cHw"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -352,
        -112
      ],
      "id": "16f1b38f-022c-49be-aaea-ac5d2df377f8",
      "name": "Search files and folders",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fWniJasnVtn0Zio6",
          "name": "Google Drive account Ayoub Perso"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        64,
        -112
      ],
      "id": "3fe629b1-b6d5-49a1-8f1a-b99cdddc6503",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "fWniJasnVtn0Zio6",
          "name": "Google Drive account Ayoub Perso"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        272,
        -112
      ],
      "id": "fa53517b-ab16-4956-85f3-9c86402a612f",
      "name": "Extract from File",
      "disabled": true
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "=032002bbde4d486b9093c24101f02da7",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.3,
      "position": [
        1040,
        0
      ],
      "id": "fac95bb8-285d-49f5-a4aa-a473f851b9da",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "CWQS0tGNBZLw6emi",
          "name": "QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1184,
        208
      ],
      "id": "8237f372-6290-483e-95d0-7ec0676f5e9f",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        992,
        208
      ],
      "id": "afd4a7ad-4cf4-4d0a-913b-238160509003",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "z9uix07wQ4zbWtZl",
          "name": "OpenAi account Abqari"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -144,
        -112
      ],
      "id": "4b58d085-617e-4685-9989-a17a7606e91a",
      "name": "Limit",
      "disabled": true
    },
    {
      "parameters": {
        "chunkSize": 500,
        "chunkOverlap": 50
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1232,
        384
      ],
      "id": "ed03d726-8b6b-4279-b2e1-ee62fbb912c5",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "formTitle": "Drop File",
        "formDescription": "Drop File",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Drop File",
              "fieldType": "file"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        832,
        0
      ],
      "id": "292a0eea-ae97-436d-8cd1-b0e4e7d3dd89",
      "name": "On form submission",
      "webhookId": "894fc5c7-804f-4aaf-86b1-e9c42fbaa859"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-08-24T22:14:56.000Z",
  "versionId": "0467a1df-2a97-4399-a3c6-e0ad795f0708"
}