RInTUBsdq5V4N4hk.json
{
  "active": false,
  "connections": {
    "Surveillance Google Drive": {
      "main": [
        [
          {
            "node": "Filtrer Vidéos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrer Vidéos": {
      "main": [
        [
          {
            "node": "Set Environnement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Préparer Renommage": {
      "main": [
        [
          {
            "node": "Update metadata Frameio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agent Nomenclature",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Renommer Fichier Drive": {
      "main": [
        [
          {
            "node": "Move file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frame.io - Demande Upload URL": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Environnement": {
      "main": [
        [
          {
            "node": "Frame.io - Demande Upload URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update metadata Frameio": {
      "main": [
        [
          {
            "node": "Update asset name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update asset name": {
      "main": [
        [
          {
            "node": "Renommer Fichier Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mapping": {
      "main": [
        [
          {
            "node": "Préparer Renommage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agent Nomenclature": {
      "main": [
        [
          {
            "node": "Mapping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyse Vidéo": {
      "main": [
        [
          {
            "node": "Agent Nomenclature",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stockage : Vidéos à Analyser Manuellement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "recuperation de l'url de l'asset": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Frame.io - Upload Binaire multiple",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Frame.io - Upload Binaire multiple": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "recuperation de l'url de l'asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Analyse Vidéo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "recuperation de l'url de l'asset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-31T13:53:48.096Z",
  "id": "RInTUBsdq5V4N4hk",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "(V3 Small File) Workflow Intelligent Créatives Facebook Ads",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1kCOO67VYTDf2wUHIAsZhK2IlioDLkLXP",
          "mode": "list",
          "cachedResultName": "Vidéo en cours de Traitement",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1kCOO67VYTDf2wUHIAsZhK2IlioDLkLXP"
        },
        "event": "fileCreated",
        "options": {}
      },
      "id": "b5ea9007-1aee-42b1-9795-e495707e376b",
      "name": "Surveillance Google Drive",
      "type": "n8n-nodes-base.googleDriveTrigger",
      "position": [
        816,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SLFtR95QAltJSXd0",
          "name": "Google Drive account Satyn"
        }
      },
      "notes": "Se déclenche automatiquement quand une nouvelle vidéo est ajoutée au dossier"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "video_filter",
              "leftValue": "={{ $json.mimeType }}",
              "operator": {
                "type": "string",
                "operation": "startsWith",
                "rightType": "any"
              },
              "rightValue": "video/"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "108677f9-dee7-4357-b219-a9fde2951909",
      "name": "Filtrer Vidéos",
      "type": "n8n-nodes-base.filter",
      "position": [
        1040,
        224
      ],
      "typeVersion": 2,
      "notes": "Ne traite que les fichiers vidéo"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5e20f2c7-6c48-42a2-a8d4-2a9017dce4d5",
              "name": "ouput",
              "value": "={{ $json.data }}",
              "type": "string"
            },
            {
              "id": "61e1caa1-e568-457f-9ab0-cc8987007884",
              "name": "asset_name",
              "value": "={{ $('Agent Nomenclature').item.json.output.video_title }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "dotNotation": false
        }
      },
      "id": "2107f387-6dbf-4cf0-a658-95c5de48fdcd",
      "name": "Préparer Renommage",
      "type": "n8n-nodes-base.set",
      "position": [
        4016,
        192
      ],
      "typeVersion": 3.4,
      "notes": "Prépare les données pour le renommage et conserve l'extension originale"
    },
    {
      "parameters": {
        "operation": "update",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Filtrer Vidéos').item.json.id }}",
          "mode": "id"
        },
        "newUpdatedFileName": "={{ $('Préparer Renommage').item.json.asset_name }}",
        "options": {}
      },
      "id": "e7745457-9b99-44b8-a1bb-cd14792952b1",
      "name": "Renommer Fichier Drive",
      "type": "n8n-nodes-base.googleDrive",
      "position": [
        4688,
        192
      ],
      "typeVersion": 3,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SLFtR95QAltJSXd0",
          "name": "Google Drive account Satyn"
        }
      },
      "notes": "Renomme automatiquement le fichier avec la nouvelle nomenclature"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Filtrer Vidéos').item.json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1712,
        224
      ],
      "id": "d03c5755-189d-4b6c-97c2-60c0ea0f393e",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SLFtR95QAltJSXd0",
          "name": "Google Drive account Satyn"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        3584,
        320
      ],
      "id": "e8db86af-946b-4dcf-9e52-1df5af5c6a6e",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "xUpyiat26rOjcRRX",
          "name": "Ayoub"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $('Filtrer Vidéos').item.json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1skNBT1fuzxHp4UY_zwJEidVbXtD86gp4",
          "mode": "list",
          "cachedResultName": "Vidéo a analyser manuellement",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1skNBT1fuzxHp4UY_zwJEidVbXtD86gp4"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        3408,
        320
      ],
      "id": "83939623-c282-4c2c-90e3-c2ac8b73805d",
      "name": "Stockage : Vidéos à Analyser Manuellement",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SLFtR95QAltJSXd0",
          "name": "Google Drive account Satyn"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.BASE_URL }}/v4/accounts/{{ $json.ACCOUNT_ID }}/folders/fe168541-6299-4f9c-b937-c04c4d75c497/files/local_upload",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "4.0"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"name\":\"{{ $('Filtrer Vidéos').item.json.name }}\",\n    \"file_size\":{{ $('Filtrer Vidéos').item.json.size }}\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1488,
        224
      ],
      "id": "d24089e5-1998-4a4f-ac43-2aa70bc17d85",
      "name": "Frame.io - Demande Upload URL",
      "credentials": {
        "oAuth2Api": {
          "id": "UQm6obX5OEHbcJCu",
          "name": "Frame.io Jad"
        }
      }
    },
    {
      "parameters": {
        "content": "## Identifiant (ID)\n- ACCOUNT_ID : a8d19374-1e6a-4bec-b3ee-2535c1e4d51c\n- PROJECT_ID : f5f637ed-1e39-4810-a492-162670ca7b7a\n- WORKSPACE_ID : f5334ef4-7cad-4b16-a085-735a4863c2bf\n- root_folder_id : ab9377e4-3c06-4c31-be4f-e023e18bca83\n\n## Notes\n**Message de succès**\n✅ SATYN - Nomenclature Générée avec Succès\n\n**Message d'échec**\n🚨 ALERTE SATYN - Échec Mapping Nomenclature",
        "height": 336,
        "width": 560
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -16,
        -192
      ],
      "id": "aef93465-1659-4dab-91ad-e73926005028",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "url": "https://api.frame.io/v4/me",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "4.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        384,
        -32
      ],
      "id": "a8130f16-d841-4c63-9c4a-56e45ffbc079",
      "name": "Set Up Auth",
      "credentials": {
        "oAuth2Api": {
          "id": "UQm6obX5OEHbcJCu",
          "name": "Frame.io Jad"
        },
        "httpBearerAuth": {
          "id": "6LkpzaocFkOKfuRZ",
          "name": "Frameio jad"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c609c7da-7075-4a56-b5c5-17b79978a8fb",
              "name": "BASE_URL",
              "value": "https://api.frame.io",
              "type": "string"
            },
            {
              "id": "f3c62917-85ce-4d40-ba5d-cd11b6210db2",
              "name": "ACCOUNT_ID",
              "value": "a8d19374-1e6a-4bec-b3ee-2535c1e4d51c",
              "type": "string"
            },
            {
              "id": "d63e4aa2-47c5-4457-a104-015c5f054927",
              "name": "WORKSPACE_ID",
              "value": "f5334ef4-7cad-4b16-a085-735a4863c2bf",
              "type": "string"
            },
            {
              "id": "d78d6b08-a3b1-4c55-83ce-d323fafdd916",
              "name": "PROJECT_ID",
              "value": "=f5f637ed-1e39-4810-a492-162670ca7b7a",
              "type": "string"
            },
            {
              "id": "2f005aac-8fa2-4c3d-97c7-c885903f7d9d",
              "name": "ROOT_FOLDER_ID",
              "value": "ab9377e4-3c06-4c31-be4f-e023e18bca83",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1264,
        224
      ],
      "id": "0a7c61a7-9805-4373-8c47-f3a5b3297272",
      "name": "Set Environnement"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $('Set Environnement').item.json.BASE_URL }}/v4/accounts/{{ $('Set Environnement').item.json.ACCOUNT_ID }}/projects/{{ $('Set Environnement').item.json.PROJECT_ID }}/metadata/values",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "alpha"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n    \"data\": {{ $json.ouput }}\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4240,
        192
      ],
      "id": "8b77f266-1ec4-4a99-8b4b-64f3b2a3776e",
      "name": "Update metadata Frameio",
      "credentials": {
        "httpHeaderAuth": {
          "id": "DnFv2GiMeiA9xJdx",
          "name": "Header Auth account"
        },
        "httpBearerAuth": {
          "id": "6LkpzaocFkOKfuRZ",
          "name": "Frameio jad"
        },
        "oAuth2Api": {
          "id": "UQm6obX5OEHbcJCu",
          "name": "Frame.io Jad"
        }
      }
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.frame.io/v4/accounts/{{ $('Set Environnement').item.json.ACCOUNT_ID }}/files/{{ $('Frame.io - Demande Upload URL').item.json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "alpha"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"name\": \"{{ $('Préparer Renommage').item.json.asset_name }}\"\n  }\n}",
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4464,
        192
      ],
      "id": "3361b65a-45ac-46a4-96ef-8a14659c3fda",
      "name": "Update asset name",
      "credentials": {
        "oAuth2Api": {
          "id": "UQm6obX5OEHbcJCu",
          "name": "Frame.io Jad"
        }
      }
    },
    {
      "parameters": {
        "operation": "move",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "driveId": {
          "__rl": true,
          "value": "My Drive",
          "mode": "list",
          "cachedResultName": "My Drive",
          "cachedResultUrl": "https://drive.google.com/drive/my-drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1n6RwZmmn79QlDmfxk7cUrFQiM0o4SjZW",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4912,
        192
      ],
      "id": "44cbb106-500c-49b0-b955-ede70fce8d5d",
      "name": "Move file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "SLFtR95QAltJSXd0",
          "name": "Google Drive account Satyn"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// It is crucial to have the asset ID you want to update.\n// This ID usually comes from a Google Drive trigger or a previous node (e.g., \"Download file\").\n// In this case, it's provided directly by the user's Frame.io asset data.\nconst assetId = $('Frame.io - Demande Upload URL').first().json.data.id; // Directly from your provided Frame.io asset_id\n\n// Retrieve the structured data from the \"Information Extractor\" node.\n// The relevant data is typically under the 'output' key of the first item.\nconst extractedData = $input.first().json.output;\n\n// Define the mappings for each Frame.io custom field.\n// Includes 'field_definition_id' and 'id' for value options.\n// These IDs are now directly from your provided Frame.io custom field definitions.\n// NOTE: The 'video_title' is a file attribute (asset 'name') and cannot be updated via custom fields.\n// It requires a separate Frame.io API call or a different N8n node to update the asset's name.\nconst fieldMappings = {\n    // \"video_title\" is a file attribute (asset name) and is not part of custom fields.\n    // It should be handled by a separate Frame.io API call for updating asset properties.\n    \"detailed_concept_description\": {\n        field_definition_id: \"17ce0b40-da67-4a89-9488-5b804fd71706\",\n        type: \"text\"\n    },\n    \"main_concept\": { // Maps to \"Concept\" in Frame.io\n        field_definition_id: \"8a0c6275-d8ae-4678-8cf7-854355d60f97\",\n        options: {\n            \"UGC\": \"1455917a-ce07-4118-a882-32017ae720ae\",\n            \"Hooks\": \"7a800b96-3b97-4db3-a4de-fc76fd1881a1\",\n            \"Founder\": \"596a27d7-b56d-48a5-831c-6fac44ed43fc\",\n            \"Trends\": \"7563642a-a0c1-4c5f-b8e0-c41933722de4\",\n            \"Iterate\": \"f450cb60-9dc5-4643-b5c0-8672276d5edc\",\n            \"NA\": \"a9cf7157-fe5c-41d1-89a5-121b425e98fe\"\n        },\n        type: \"select\"\n    },\n    \"product_presented\": { // Maps to \"Product Presented\" in Frame.io\n        field_definition_id: \"00f12b56-7f0b-49cf-ba17-b74b3e807def\",\n        options: {\n            \"Skullcap\": \"cbf108ea-78b3-4f76-a593-e4432f559364\",\n            \"Satyncap\": \"017ef2b3-0171-4744-82e5-10650f6778fe\",\n            \"SatynBeanie\": \"fb284063-be3e-47e7-8c9e-dcbd156b35e5\",\n            \"SatynCosy\": \"e47ccb18-6686-4794-847e-a53464ad9ef3\",\n            \"Hoodie\": \"308ccd38-1abe-456c-8755-0395d2fd0a5b\",\n            \"Other\": \"a1998ed8-6609-416b-bf64-c3fc2888aa5e\",\n            \"None\": \"db7bcfa7-d7c8-4160-ac34-427a9bb5ee4b\"\n        },\n        type: \"select\"\n    },\n    \"ethnicity\": { // Maps to \"Ethnicity\" in Frame.io\n        field_definition_id: \"6fbbd50e-fff8-40e4-bd66-3e6bc6d26f1f\",\n        options: {\n            \"Asian\": \"44e54135-edcf-4b25-bc6c-ea54ce9305e0\",\n            \"Black\": \"4e4f0a5a-7c26-484d-98da-5fe0b8c4577e\", // Correctly mapped to ID for Black from your list\n            \"Caucasian\": \"16db295a-86fd-4cdc-867b-499662dddd02\",\n            \"Latino/Hispanic\": \"c6f237fb-caa6-4b43-b0f3-c13a7d2d81d5\",\n            \"Mixed\": \"499fd214-1731-4a34-bd7c-e1d68ab8722a\",\n            \"Middle Eastern\": \"dfb1d8c6-2da4-4a0f-8b57-853a8ce347be\",\n            \"Other\": \"fc5d1258-dead-439b-a9fc-8f85fa11fee0\",\n            \"NA\": \"2ba24eae-8d25-4781-8a50-6164b8e75276\"\n        },\n        type: \"select\"\n    },\n    \"age_range\": { // Maps to \"Age Range\" in Frame.io\n        field_definition_id: \"ef690846-ba3e-4d63-af4b-151f2920a4e8\",\n        options: {\n            \"13-17\": \"8bdf932d-78a4-4451-8a88-e287b55ed254\", // Using \"13-17\" as the key to match AI output\n            \"18-24\": \"42ae355f-e38e-43a6-ac02-57047191e93f\",\n            \"25-34\": \"a3c36731-c82e-4c52-b453-7e573202d7d9\",\n            \"35-44\": \"8c43060d-e189-4268-869b-5937cbd58492\",\n            \"45-54\": \"448a5172-f590-4a2b-8d60-b28d157244c0\",\n            \"55-64\": \"5678f62c-edf0-4f7e-8b1f-b878f3861beb\",\n            \"65+\": \"af159ccb-61c5-48b4-9565-657998cd8cea\",\n            \"NA\": \"4f734226-e087-426a-aa93-f76a826e662b\"\n        },\n        type: \"select\"\n    },\n    \"gender\": { // Maps to \"Gender\" in Frame.io\n        field_definition_id: \"b44a4eff-85bd-4741-a956-4ddc31d2d6b2\",\n        options: {\n            \"Male\": \"ab68cc23-096c-439e-93c5-0ce493733e38\",\n            \"Female\": \"43667e1c-ee32-496a-87c3-f482732bac76\",\n            \"NA\": \"c4626d45-7bb7-46e5-a53a-a53d9fbecc59\"\n        },\n        type: \"select\"\n    }\n};\n\nconst valuesToUpdate = [];\n\nfunction addValueToUpdate(fieldName, geminiValue) {\n    const fieldMapping = fieldMappings[fieldName];\n\n    // Handle cases where the value is empty, \"NA\", \"Not applicable\", \"Other\", \"None\"\n    if (!fieldMapping || !geminiValue ||\n        geminiValue.toLowerCase() === \"na\" ||\n        geminiValue.toLowerCase().includes(\"not applicable\") ||\n        geminiValue.toLowerCase().includes(\"other\") || // Handles \"Other\" for select fields\n        geminiValue.toLowerCase().includes(\"none\") // Handles \"None\" for select fields\n    ) {\n        return;\n    }\n\n    if (fieldMapping.type === \"select\") {\n        const optionId = fieldMapping.options[geminiValue];\n        if (optionId) {\n            valuesToUpdate.push({\n                field_definition_id: fieldMapping.field_definition_id,\n                value: [optionId]\n            });\n        } else {\n            console.warn(`[WARNING] Option ID not found for field \"${fieldName}\" with value \"${geminiValue}\". This field will NOT be updated.`);\n        }\n    } else if (fieldMapping.type === \"text\") {\n        valuesToUpdate.push({\n            field_definition_id: fieldMapping.field_definition_id,\n            value: geminiValue\n        });\n    }\n}\n\n// Call the function for each custom field, accessing the data extracted by the AI\n// NOTE: \"video_title\" is an asset property (name) and is not updated here.\n// It needs a separate API call to update the asset's name in Frame.io.\n// addValueToUpdate(\"video_title\", extractedData.video_title); // This line is commented out\naddValueToUpdate(\"gender\", extractedData.gender);\naddValueToUpdate(\"ethnicity\", extractedData.ethnicity);\naddValueToUpdate(\"age_range\", extractedData.age_range);\naddValueToUpdate(\"main_concept\", extractedData.main_concept);\naddValueToUpdate(\"product_presented\", extractedData.product_presented);\naddValueToUpdate(\"detailed_concept_description\", extractedData.detailed_concept_description);\n\n\nconst frameioPayload = {\n    data: {\n        asset_ids: [assetId],\n        values: valuesToUpdate\n    }\n};\n\nreturn [{ json: frameioPayload }];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3792,
        192
      ],
      "id": "d633104d-5f77-4d6c-b04f-9e0c3c638480",
      "name": "Mapping"
    },
    {
      "parameters": {
        "text": "=Here is the video analysis for footage review: {{ $json.content.parts[0].text }}",
        "attributes": {
          "attributes": [
            {
              "name": "video_title",
              "description": "Provide a concise and relevant description of the video, limited to a maximum of 10 words and 100 characters. This title should summarize the video's essence.",
              "required": true
            },
            {
              "name": "gender",
              "description": "Gender of the main avatar visible in the video. Expected options: Male, Female, NA.",
              "required": true
            },
            {
              "name": "ethnicity",
              "description": "Ethnicity of the main avatar. Expected options: Asian, Black, Caucasian, Latino/Hispanic, Mixed, Middle Eastern, Other, NA.",
              "required": true
            },
            {
              "name": "age_range",
              "description": "Age range of the main avatar. Expected options: 13-17 , 18-24 , 25-34 , 35-44 , 45-54 , 55-64 , 65+, NA.",
              "required": true
            },
            {
              "name": "main_concept",
              "description": "Category of the main video concept. Expected options: UGC, Hooks, Founder, Trends, Iterate.",
              "required": true
            },
            {
              "name": "product_presented",
              "description": "Name of the main Satyn.fr product identified in the video. Expected options: Skullcap, SatynCap, SatynBeanie, SatynCosy, Hoodie, Other, None.",
              "required": true
            },
            {
              "name": "detailed_concept_description",
              "description": "One-sentence description of the specific concept of the video. Character limit is 2,500",
              "required": true
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        3392,
        80
      ],
      "id": "92ab82f0-95e8-44df-a336-11352f76e1fb",
      "name": "Agent Nomenclature"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-pro",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-pro"
        },
        "text": "**Video Analysis Guide (Footage Review & Tagging)**\n\n**Objective:** Accurately analyze video content to generate structured metadata, facilitating automated footage review and asset tagging.\n\n**Output Format (JSON recommended for automation):**\n\n```json\n{\n  \"video_title\": \"Concise description of the video (max 100 characters)\",\n  \"main_avatar\": {\n    \"gender\": \"Male\" | \"Female\" | \"Non-Binary\" | \"NA\",\n    \"ethnicity\": \"Asian\" | \"Black\" | \"Caucasian\" | \"Latino/Hispanic\" | \"Mixed\" | \"Middle Eastern\" | \"Other\" | \"NA\",\n    \"age_range\": \"13-17 years\" | \"18-24 years\" | \"25-34 years\" | \"35-44 years\" | \"45-54 years\" | \"55-64 years\" | \"65 years and over\" | \"NA\"\n  },\n  \"main_concept\": \"UGC\" | \"Hooks\" | \"Founder\" | \"Trends\" | \"Iterate\",\n  \"product_presented\": \"Skullcap\" | \"SatynCap\" | \"SatynBeanie\" | \"Satyn Cosy\" | \"Hoodie\" | \"Other\" | \"None\",\n  \"detailed_concept_description\": \"Describe in one sentence the specific concept of the video (e.g., 'A person showcases the benefits of the Skullcap beanie in a daily situation.').\"\n}",
        "videoUrls": "={{ $json.data.media_links.efficient.download_url }}",
        "options": {}
      },
      "id": "daeb7f0b-95fe-461f-949c-5e66317808f6",
      "name": "Analyse Vidéo",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "position": [
        3168,
        224
      ],
      "typeVersion": 1,
      "credentials": {
        "googlePalmApi": {
          "id": "ny4MRPhHqLPpNzoo",
          "name": "Satyn API Gemini "
        }
      },
      "onError": "continueErrorOutput",
      "notes": "Gemini analyse le contenu vidéo et extrait les caractéristiques"
    },
    {
      "parameters": {
        "url": "=https://api.frame.io/v4/accounts/{{ $('Set Environnement').item.json.ACCOUNT_ID }}/files/{{ $('Frame.io - Demande Upload URL').item.json.data.id }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "oAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "include",
              "value": "project,media_links.original, media_links.thumbnail, media_links.video_h264_180,media_links.efficient,media_links.high_quality"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-version",
              "value": "4.0"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2608,
        80
      ],
      "id": "40593089-20e9-4577-834f-df138b18a05b",
      "name": "recuperation de l'url de l'asset",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "oAuth2Api": {
          "id": "UQm6obX5OEHbcJCu",
          "name": "Frame.io Jad"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// ⚙️ Paramètres\nconst binaryProp = 'data'; // Nom du champ binaire dans l'item d'entrée\nconst uploadUrls = $('Frame.io - Demande Upload URL').item.json.data.upload_urls;\n\n// ✅ Étape 1 : Lire le fichier binaire\nconst item = items[0];\nconst binaryData = item.binary?.[binaryProp];\nif (!binaryData) {\n\tthrow new Error(`Fichier binaire manquant dans '${binaryProp}'`);\n}\n\nconst base64 = binaryData.data;\nconst buffer = Buffer.from(base64, 'base64');\n\n// ✅ Étape 2 : Découper le buffer en fonction des tailles des URLs\nlet offset = 0;\nconst parts = [];\n\nfor (let i = 0; i < uploadUrls.length; i++) {\n\tconst size = uploadUrls[i].size;\n\n\t// On découpe les bons octets\n\tconst chunk = buffer.slice(offset, offset + size);\n\n\t// On encode en base64 pour N8N (sera reconverti lors de l'upload)\n\tconst chunkBase64 = chunk.toString('base64');\n\n\tparts.push({\n\t\tjson: { partIndex: i },\n\t\tbinary: {\n\t\t\tpart: {\n\t\t\t\tdata: chunkBase64,\n\t\t\t\tmimeType: binaryData.mimeType,\n\t\t\t\tfileName: `chunk_${i + 1}_${binaryData.fileName}`,\n\t\t\t}\n\t\t}\n\t});\n\n\toffset += size;\n}\n\n// ✅ Étape 3 : Retourner les morceaux comme nouveaux items\nreturn parts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        224
      ],
      "id": "6d55b03d-16af-44ba-be5e-34a19c8f9d93",
      "name": "Code"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{ $('Frame.io - Demande Upload URL').item.json.data.upload_urls[$json.partIndex].url }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Frame.io - Demande Upload URL').item.json.data.media_type }}"
            },
            {
              "name": "x-amz-acl",
              "value": "private"
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "part",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2384,
        320
      ],
      "id": "67040447-0e7e-4a25-a25a-3afc4d3d1080",
      "name": "Frame.io - Upload Binaire multiple",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        2160,
        224
      ],
      "id": "fdbfec48-5457-40ae-8656-5518a01c6c7e",
      "name": "Loop Over Items1"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {}
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2384,
        80
      ],
      "id": "47254929-0908-4469-a2b5-6c31a6e334e2",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "c56a1d3b-6769-4654-880c-d39803ea2b91",
              "leftValue": "={{ $json.data.media_links.efficient.download_url }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2832,
        80
      ],
      "id": "14bc9065-8a97-4ec8-9e10-24984d8d45e6",
      "name": "If"
    },
    {
      "parameters": {
        "amount": 20
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2832,
        320
      ],
      "id": "03c457b5-9bd7-432a-82ba-15c2bea37c2c",
      "name": "Wait",
      "webhookId": "4fcaa8fa-328a-4a5c-98d1-a673edfc5fa5"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Paris",
    "saveManualExecutions": true,
    "errorWorkflow": ""
  },
  "staticData": {
    "node:Surveillance Google Drive": {
      "lastTimeChecked": "2025-08-01T13:13:50Z"
    }
  },
  "tags": [
    {
      "createdAt": "2025-07-29T12:08:30.172Z",
      "updatedAt": "2025-07-29T12:08:30.172Z",
      "id": "wOOoTX9UWo5u3O1e",
      "name": "deprecated"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-08-05T14:18:11.000Z",
  "versionId": "9b25fc60-b9b5-4ed4-80e8-e4b5c48fa28e"
}