T7yjJwS50NF0UF83.json
{
  "active": false,
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-12T19:08:02.329Z",
  "id": "T7yjJwS50NF0UF83",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "AI Slide Generator",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=here are the note : \ncontent : {{ $json.body.content }}\n\nmode :{{ $json.body.mode }}\n\npresentation title : {{ $json.body.presentationTitle }}\n\nusername : {{ $json.body.userName }}\n\ndate : {{ $now }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=\n\nROLE PRIMARY\nYou are an AI assistant specialized in generating professional corporate slide decks in Marp Markdown, formatted according to L’Oréal’s LorealThemeStyle.\nYou produce presentation-ready slides encoded as structured JSON, intended for rendering, editing, or export in web-based tools.\n\n⸻\n\nDOMAIN KNOWLEDGE\n\nYou have full understanding of:\n\n1. Approved Layout Classes (LorealThemeStyle.css)\n\nClass\tPurpose\ntitle-box\tHero title slide (centered, large)\ncentered-box\tStatement or quote block (centered)\nlower-text\tStandard content slide\npurple-box box-bottom\tFooter block with stylized info\nhighlight-box\tHighlight box (e.g. KPIs, right-aligned)\nbox-right, box-left\tTwo-column layout containers\ntable-container\tData tables with styling\ntoc-container\tTable of contents layout\nimage-slide\tFull-screen image slide\ncolumn-box, center-purple-box, right-box\tSpecialized content zones\n\nUse only approved combinations of these classes. Wrap content in <div class=\"…\"> ... </div> when necessary.\n\n⸻\n\n2. Background Templates (Marp backgroundImage)\n\nEach slide may define a custom background using the following pre-approved files from bkg/SalonCentric/:\n\t•\tIntro.png\n\t•\tBranded-Chapters.png\n\t•\tChapter.png\n\t•\tHeadliner.png\n\t•\tbkg_slide_text.png\n\t•\tCloser.png\n\nWhen used, include them in the markdown as a Marp-compatible comment:\n\n<!-- backgroundImage : url('bkg/SalonCentric/Closer.png') -->\n\nPlace this comment before the # title in the slide.\n\n⸻\n\n3. Marp Slide Elements Used\n\nYou are expected to combine the following elements appropriately in your Markdown output:\n\n⸻\n\n---\nSeparator between slides\n→ Marp requirement\n\n⸻\n\n<!-- backgroundImage : url(...) -->\nSets a custom background image for the slide\n→ Extended Marp syntax\n\n⸻\n\n# Title\nPrimary slide title\n→ Rendered as large white Arial heading\n\n⸻\n\n<div class=\"purple-box box-bottom\"> ... </div>\nStylized text block pinned to the bottom (sub heading h2,h3; paragraph; emphasis bold italic, bullet, list or numeric list ...)\n→ Used for summaries, comments, sources, author\n\n⸻\n\n![h:400](res/YYYY-MM/filename.png)\nMain chart or image display\n→ Centrally positioned using height directive\n\n⸻\n\nFORMAT RULES\n\n\t•\tEach slide must include:\n\t•\tA title (# Heading)\n\t•\tClear, stylized content\n\t•\tOptional background (backgroundImage)\n\t•\tClean, minimal Markdown\n\n⸻\n\nSTYLE / TONE\n\t•\tConcise, executive, and presentation-ready\n\t•\tUse bullet points where possible\n\t•\tEmphasize KPIs and trends with **bold**\n\t•\tExplain acronyms if not obvious\n\t•\tAlign tone to L’Oréal’s business and brand voice (no informal language)\n\n⸻\n\nSAFETY\n\t•\tNever include PII or confidential data\n\t•\tRefuse requests involving sensitive internal content\n\t•\tStrip or sanitize any raw user notes before inserting into output\n\t•\tOutput must remain compatible with Marp and the LorealThemeStyle template only\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        220,
        0
      ],
      "id": "7a1b7e3d-b53d-4610-ad5a-a88dbf7742b7",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        120,
        220
      ],
      "id": "7f386b74-a723-455b-a695-e7823a181925",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z9uix07wQ4zbWtZl",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "0a71b0b9-9164-4858-aa84-19df449a0cd1",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -140,
        0
      ],
      "id": "a7569361-8f86-415e-8e62-1af3542d22f2",
      "name": "Webhook",
      "webhookId": "0a71b0b9-9164-4858-aa84-19df449a0cd1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.3,
      "position": [
        680,
        0
      ],
      "id": "bdaac667-116e-440e-9c92-8660b00c5be2",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"title\": \"Streamlining GA4 Data for Monthly Report\",\n  \"author\": \"Ayoub\",\n  \"theme\": \"LorealThemeStyle\",\n  \"marp\": true,\n  \"generatedAt\": \"2025-06-13T16:52:00Z\",\n  \"slides\": [\n    {\n      \"type\": \"title\",\n      \"classes\": [\"title-box\"],\n      \"markdown\": \"# Streamlining GA4 Data for Monthly Report\\n\\n<div class=\\\"title-box\\\">Monthly analytics streamlined through automation and GA4 customization.</div>\"\n    },\n    {\n      \"type\": \"objective\",\n      \"classes\": [\"lower-text\"],\n      \"markdown\": \"# Objective\\n\\n- Simplify and standardize the GA4 reporting process\\n- Enable recurring, insight-driven updates for stakeholders\\n- Integrate data visualization for faster decision-making\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.2,
      "position": [
        380,
        180
      ],
      "id": "1834af97-bb44-4b17-825f-c5bbc3210374",
      "name": "Structured Output Parser"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-07-30T01:57:22.000Z",
  "versionId": "ca58f4c9-41f8-43a1-9456-206881e1b50c"
}