V6owctCYz2h0Gkx2.json
{
  "active": true,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Auto-fixing Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Auto-fixing Output Parser",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Générer HTML Diagnostic": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Générer HTML Diagnostic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-09-26T07:59:11.286Z",
  "id": "V6owctCYz2h0Gkx2",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Lead Magnet Diagnostic IA",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "diagnostic-ia",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        0
      ],
      "id": "6ade21a6-0dae-4cf1-bf49-9253da954b49",
      "name": "Webhook",
      "webhookId": "b0cd6288-d4d3-4d7c-9dbe-e8bb9ec3c573"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-5-nano",
          "mode": "list",
          "cachedResultName": "gpt-5-nano"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        624,
        400
      ],
      "id": "51d6da2d-40bc-483c-9a78-62ebfb885126",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "z9uix07wQ4zbWtZl",
          "name": "OpenAi account Abqari"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserAutofixing",
      "typeVersion": 1,
      "position": [
        800,
        208
      ],
      "id": "651cbcbd-7500-4f93-9446-6b086590b207",
      "name": "Auto-fixing Output Parser"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"score_global\": 55,\n  \"maturite_digitale\": \"Débutant/Intermédiaire/Avancé/Expert\",\n  \"diagnostic\": {\n    \"points_forts\": [\"point1\", \"point2\", \"point3\"],\n    \"points_amelioration\": [\"point1\", \"point2\", \"point3\"],\n    \"risques\": [\"risque1\", \"risque2\"]\n  },\n  \"recommandations\": [\"reco1\", \"reco2\", \"reco3\", \"reco4\"],\n  \"plan_action\": {\n    \"court_terme\": [\"action1\", \"action2\"],\n    \"moyen_terme\": [\"action1\", \"action2\"],\n    \"long_terme\": [\"action1\", \"action2\"]\n  },\n  \"kpis\": [\"kpi1\", \"kpi2\", \"kpi3\"],\n  \"budget_estime\": {\n    \"minimum\": \"15k€\",\n    \"maximum\": \"50k€\",\n    \"roi_attendu\": \"200%\"\n  }\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        416
      ],
      "id": "123b6495-27f9-4cb1-bc3f-41fd8a06523f",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// Récupération des données du webhook (les infos d'entreprise)\nconst formData = $input.first().json; \n\n// Récupération du diagnostic généré par OpenAI (dans ton cas il est déjà structuré sous \"output\")\nlet aiResponse = $json.output; \n\n\n// --- HTML email \"safe for Gmail\" ---\nconst companyName = formData.company || \"Votre entreprise\";\nconst website     = formData.website || \"\";\nconst emailTo     = formData.email || \"\";\n\nconst li = (t) => `\n  <tr>\n    <td style=\"padding:8px 0;border-bottom:1px solid #e6e6e6;\">\n      <span style=\"font-size:14px;line-height:20px;color:#222222;\">${t}</span>\n    </td>\n  </tr>`;\n\nconst list = (arr) => arr.map(li).join(\"\");\n\nconst html = `<!DOCTYPE html>\n<html lang=\"fr\">\n  <head>\n    <meta charset=\"utf-8\">\n    <meta name=\"color-scheme\" content=\"light dark\">\n    <meta name=\"supported-color-schemes\" content=\"light dark\">\n    <title>Diagnostic - ${companyName}</title>\n  </head>\n  <body style=\"margin:0;padding:0;background:#f4f4f4;\">\n    <!-- Wrapper -->\n    <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"background:#f4f4f4;margin:0;padding:24px 0;\">\n      <tr>\n        <td align=\"center\" style=\"padding:0 12px;\">\n          <!-- Container -->\n          <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\" style=\"max-width:680px;background:#ffffff;border-radius:8px;overflow:hidden;border:1px solid #e6e6e6;\">\n            <!-- Header -->\n            <tr>\n              <td align=\"center\" style=\"padding:28px 24px 8px 24px;\">\n                <div style=\"font:700 22px/28px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;\">${companyName}</div>\n                <div style=\"font:400 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#666666;margin-top:6px;\">\n                  Diagnostic d'automatisation personnalisé\n                </div>\n              </td>\n            </tr>\n\n            <!-- Score -->\n            <tr>\n              <td align=\"center\" style=\"padding:8px 24px 20px 24px;\">\n                <div style=\"font:700 36px/40px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;\">${aiResponse.score_global}</div>\n                <div style=\"font:500 12px/16px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#666666;\">Score global</div>\n                <div style=\"display:inline-block;margin-top:10px;padding:6px 12px;border-radius:999px;background:#e9f5ee;border:1px solid #cfe9db;color:#116e3a;font:600 12px/16px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">\n                  Maturité : ${aiResponse.maturite_digitale}\n                </div>\n              </td>\n            </tr>\n\n            <!-- Bloc helper -->\n            <tr>\n              <td style=\"padding:0 24px 8px 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n                  <tr>\n                    <td style=\"background:#fafafa;border:1px solid #ededed;border-radius:6px;padding:10px 12px;\">\n                      <div style=\"font:500 12px/16px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#555;\">\n                        Ce résumé est optimisé pour la lecture email (mode clair & sombre). Pour la version détaillée, répondez à ce message.\n                      </div>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Points forts / améliorations -->\n            <tr>\n              <td style=\"padding:8px 24px 0 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-collapse:collapse;\">\n                  <tr>\n                    <!-- Col 1 -->\n                    <td valign=\"top\" style=\"width:50%;padding-right:12px;\">\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                        <tr>\n                          <td style=\"padding:12px 12px 4px 12px;\">\n                            <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#0f5132;\">✓ Points forts</div>\n                          </td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding:0 12px 8px 12px;\">\n                            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                              ${list(aiResponse.diagnostic.points_forts)}\n                            </table>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                    <!-- Col 2 -->\n                    <td valign=\"top\" style=\"width:50%;padding-left:12px;\">\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                        <tr>\n                          <td style=\"padding:12px 12px 4px 12px;\">\n                            <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#664d03;\">! Points d'amélioration</div>\n                          </td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding:0 12px 8px 12px;\">\n                            <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                              ${list(aiResponse.diagnostic.points_amelioration)}\n                            </table>\n                          </td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Risques -->\n            <tr>\n              <td style=\"padding:16px 24px 0 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                  <tr>\n                    <td style=\"padding:12px 12px 4px 12px;\">\n                      <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#842029;\">⚠ Risques identifiés</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:0 12px 8px 12px;\">\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                        ${list(aiResponse.diagnostic.risques)}\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Recommandations -->\n            <tr>\n              <td style=\"padding:16px 24px 0 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                  <tr>\n                    <td style=\"padding:12px 12px 4px 12px;\">\n                      <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#1d4ed8;\">💡 Recommandations</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:0 12px 8px 12px;\">\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                        ${list(aiResponse.recommandations)}\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Plan d'action -->\n            <tr>\n              <td style=\"padding:16px 24px 0 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                  <tr>\n                    <td style=\"padding:12px;\">\n                      <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;margin-bottom:8px;\">📅 Plan d'action</div>\n\n                      <div style=\"font:600 13px/18px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;margin-top:6px;\">Court terme</div>\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                        ${list(aiResponse.plan_action.court_terme)}\n                      </table>\n\n                      <div style=\"font:600 13px/18px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;margin-top:12px;\">Moyen terme</div>\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                        ${list(aiResponse.plan_action.moyen_terme)}\n                      </table>\n\n                      <div style=\"font:600 13px/18px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;margin-top:12px;\">Long terme</div>\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                        ${list(aiResponse.plan_action.long_terme)}\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- KPIs -->\n            <tr>\n              <td style=\"padding:16px 24px 0 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                  <tr>\n                    <td style=\"padding:12px 12px 4px 12px;\">\n                      <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;\">📊 KPIs à suivre</div>\n                    </td>\n                  </tr>\n                  <tr>\n                    <td style=\"padding:0 12px 12px 12px;\">\n                      <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\">\n                        ${list(aiResponse.kpis)}\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Budget -->\n            <tr>\n              <td style=\"padding:16px 24px 24px 24px;\">\n                <table role=\"presentation\" width=\"100%\" cellpadding=\"0\" cellspacing=\"0\" style=\"border:1px solid #e6e6e6;border-radius:6px;background:#ffffff;\">\n                  <tr>\n                    <td style=\"padding:12px;\">\n                      <div style=\"font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#111111;margin-bottom:6px;\">💶 Budget estimé</div>\n                      <table role=\"presentation\" cellpadding=\"0\" cellspacing=\"0\" width=\"100%\">\n                        <tr>\n                          <td style=\"padding:6px 0;color:#555;font:400 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">Investissement minimum</td>\n                          <td align=\"right\" style=\"padding:6px 0;color:#111;font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">${aiResponse.budget_estime.minimum}</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding:6px 0;color:#555;font:400 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">Investissement maximum</td>\n                          <td align=\"right\" style=\"padding:6px 0;color:#111;font:600 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">${aiResponse.budget_estime.maximum}</td>\n                        </tr>\n                        <tr>\n                          <td style=\"padding:6px 0;color:#555;font:400 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">ROI attendu</td>\n                          <td align=\"right\" style=\"padding:6px 0;color:#116e3a;font:700 14px/20px system-ui,-apple-system,Segoe UI,Roboto,Arial;\">${aiResponse.budget_estime.roi_attendu}</td>\n                        </tr>\n                      </table>\n                    </td>\n                  </tr>\n                </table>\n              </td>\n            </tr>\n\n            <!-- Footer -->\n            <tr>\n              <td align=\"center\" style=\"padding:0 24px 28px 24px;\">\n                <div style=\"font:400 12px/16px system-ui,-apple-system,Segoe UI,Roboto,Arial;color:#777;\">\n                  Diagnostic généré automatiquement par Le Rouage IA<br>\n                  ${website ? `<a href=\"https://${website.replace(/^https?:\\/\\//,'')}\" style=\"color:#1d4ed8;text-decoration:none;\">${website}</a>` : \"\"}\n                </div>\n              </td>\n            </tr>\n          </table>\n          <!-- /Container -->\n        </td>\n      </tr>\n    </table>\n    <!-- /Wrapper -->\n  </body>\n</html>`;\n\n\n// Retourner les données pour le node suivant\nreturn [{\n  json: {\n    html,\n    email: formData.email,\n    company: formData.company,\n    diagnostic: aiResponse\n  }\n}];"
      },
      "id": "0fdc83f8-0855-4165-9283-bdafa211a11b",
      "name": "Générer HTML Diagnostic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        0
      ]
    },
    {
      "parameters": {
        "sendTo": "={{ $('Code').item.json.email }},ayoub.benhaddya@gmail.com",
        "subject": "=Votre Diagnostic d'Automatisation - {{ $('Code').item.json.company }}",
        "message": "={{ $json.html }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1184,
        0
      ],
      "id": "08301eda-5051-4342-b0de-751c7850dec3",
      "name": "Send a message",
      "webhookId": "60b71623-4cdd-4563-8320-d3f30191dd83",
      "credentials": {
        "gmailOAuth2": {
          "id": "lbhUnho8tl9Vkar5",
          "name": "Gmail account Ayoub Pers"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// 'item' existe dans ce mode\nconst src = item.json.body ?? item.json.querys?.body;\n\nif (typeof src === 'string') {\n  // la string contient du JSON échappé\n  item.json = JSON.parse(src);\n} else if (typeof src === 'object') {\n  // c'est déjà un objet\n  item.json = src;\n} else {\n  // rien d'exploitable : on renvoie l'original avec info\n  item.json = { parse_error: 'body manquant ou invalide', raw: src };\n}\n\nreturn item;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        32,
        0
      ],
      "id": "2e0c5e8f-6c7c-4455-b6eb-c774eefbd177",
      "name": "Code"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Données de l'entreprise :\nEntreprise: {{$json.company}}\nSite web: {{$json.website}}\nEmail: {{$json.email}}\nPart d'automatisation: {{$json.automation_share}}\nProblèmes: {{$json.pains.join(', ')}}\nPriorité: {{$json.priority}}\nPosture: {{$json.posture}}\nObjectif: {{$json.goal}}\nSources de données: {{$json.data_sources.join(', ')}}\nContraintes: {{$json.constraints.join(', ')}}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Tu es un expert en automatisation et transformation digitale.  \nTa mission est d’analyser les données d’une entreprise et de produire un diagnostic clair, exploitable et structuré pour un comité de direction.  \nCe diagnostic aidera à évaluer la maturité numérique et à définir des priorités d’investissement.\n\n\nConsignes :\n1. La sortie doit être strictement au format JSON valide.  \n2. Fournis un minimum de 3 éléments pour chaque liste (points forts, points d'amélioration, recommandations, actions, KPIs).  \n3. Classe la maturité digitale dans : \"Débutant\", \"Intermédiaire\", \"Avancé\" ou \"Expert\".  \n4. Si une donnée est absente, propose une hypothèse réaliste en l’indiquant clairement.  \n5. Le résultat doit être compréhensible et exploitable par des décideurs non techniques.  \n\nSpécifications pour chaque section :\n- **Score Globale** : Note de 0 à 100\n- **Points forts** : formuler des atouts précis (ex. : \"Bonne adoption des outils collaboratifs\", \"Automatisation déjà présente sur la facturation\").  \n- **Points d’amélioration** : indiquer des faiblesses concrètes (ex. : \"Manque d’intégration entre CRM et ERP\", \"Suivi de la donnée client insuffisant\").  \n- **Recommandations** : donner des pistes claires et actionnables (ex. : \"Mettre en place un tableau de bord centralisé\", \"Automatiser les relances clients\").  \n- **Plan d’action** : proposer des actions par horizon temporel.  \n   - Court terme : gains rapides (ex. : \"Former les équipes aux outils existants\").  \n   - Moyen terme : projets structurants (ex. : \"Déployer un outil de BI connecté aux sources de données\").  \n   - Long terme : initiatives stratégiques (ex. : \"Mettre en place un Data Lake et un système d’IA prédictive\").  \n- **KPIs** : définir des indicateurs mesurables (ex. : \"Taux d’automatisation des processus\", \"Temps moyen de traitement des commandes\").  \n- **Budget estimé** : conserver la fourchette fournie, mais contextualiser si possible (ex. : \"minimum pour un projet pilote, maximum pour un déploiement complet\"). Le budget minimum doit forcément être compris entre 500 et 1500€, il correspond par ailleurs au budget minimum. Le budget maximum peut être X fois plus élevé mais sera reparti aussi sur X mois d'accompagnement (exemple : 1500€ * 12 = 18000€, 18000€ sur 1 an).  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        624,
        0
      ],
      "id": "35ac74cd-4790-4cd9-bab3-0c3c38d4a492",
      "name": "AI Agent"
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-10-13T19:46:44.000Z",
  "versionId": "d1000a9b-a40c-418f-b705-f4122f8539ef"
}