Wv6wp0ZL7wiNwxwW.json
{
  "active": false,
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Lookup Asset in Sheets of",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Asset in Sheets of": {
      "main": [
        [
          {
            "node": "Update rows from sheet status : DELETED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-08-15T01:38:17.469Z",
  "id": "Wv6wp0ZL7wiNwxwW",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "WF4 - Delete Assets",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "frameio-media-deleted",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "id": "163b2973-1d82-46ab-93fb-411810874fa0",
      "name": "Webhook",
      "webhookId": "5dc087db-9f68-4b11-9418-7a9931881fed"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 1211841085,
          "mode": "list",
          "cachedResultName": "assets_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0/edit#gid=1211841085"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "frameio_asset_id",
              "lookupValue": "={{ $json.body.resource.id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        224,
        0
      ],
      "id": "a6cb7157-434c-4b85-bfc1-5d6033c3f193",
      "name": "Lookup Asset in Sheets of",
      "alwaysOutputData": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Wm2Xjg29dAttfqc",
          "name": "Satyn - Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0",
          "mode": "list",
          "cachedResultName": "Frame.io Asset Registry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1211841085,
          "mode": "list",
          "cachedResultName": "assets_template",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/15YmxLxE8e8uI0g3gHNDGYrOKlUxvqWQCF9kp6sCoBw0/edit#gid=1211841085"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "frameio_asset_id": "={{ $json.frameio_asset_id }}",
            "status": "DELETED"
          },
          "matchingColumns": [
            "frameio_asset_id"
          ],
          "schema": [
            {
              "id": "frameio_asset_id",
              "displayName": "frameio_asset_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "frameio_project_id",
              "displayName": "frameio_project_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "drive_file_id",
              "displayName": "drive_file_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "idempotency_key",
              "displayName": "idempotency_key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "requires_drive_ops",
              "displayName": "requires_drive_ops",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_name_original",
              "displayName": "file_name_original",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "file_size_bytes",
              "displayName": "file_size_bytes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "mime_type",
              "displayName": "mime_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "frameio_efficient_url",
              "displayName": "frameio_efficient_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "frameio_thumb_url",
              "displayName": "frameio_thumb_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_error_code",
              "displayName": "last_error_code",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "last_error_message",
              "displayName": "last_error_message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "next_retry_at",
              "displayName": "next_retry_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "video_title",
              "displayName": "video_title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "main_concept",
              "displayName": "main_concept",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_gender",
              "displayName": "avatar_gender",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_ethnicity",
              "displayName": "avatar_ethnicity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_age_range",
              "displayName": "avatar_age_range",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "avatar_skin_tones",
              "displayName": "avatar_skin_tones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "product_presented",
              "displayName": "product_presented",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "detailed_concept_description",
              "displayName": "detailed_concept_description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "updated_at",
              "displayName": "updated_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        432,
        0
      ],
      "id": "392fdfe6-88b1-4f8e-8c28-329f3fd735b2",
      "name": "Update rows from sheet status : DELETED",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4Wm2Xjg29dAttfqc",
          "name": "Satyn - Google Sheets account"
        }
      }
    }
  ],
  "origin": "n8n",
  "pinData": {},
  "repo": {
    "owner": "abqarimind",
    "name": "n8n-workflow"
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-07-08T22:28:02.757Z",
      "updatedAt": "2025-07-29T12:07:55.106Z",
      "id": "bQLQ4DR5rdAWJC6Y",
      "name": "production"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-09-27T13:17:41.000Z",
  "versionId": "2be764b5-03c3-48ea-a373-924cc06b76d2"
}